# {{ ansible_managed }}

pid_file /mosquitto/data/mosquitto.pid

user {{ docker_user }}

# Port to use for the default listener.
listener {{ docker_automation_mosquitto_port }}

persistence true
persistence_location /mosquitto/data/
log_dest file /mosquitto/log/mosquitto.log
