# {{ ansible_managed }}

pid_file /var/run/mosquitto.pid

user {{ docker_user }}

# Port to use for the default listener.
port {{ docker_automation_mosquitto_port }}

persistence true
persistence_location /mosquitto/data/
log_dest file /mosquitto/log/mosquitto.log
