#
# Managed by Ansible
# MythWeb for MythTV
#

<VirtualHost *:80>
    ServerName {{ item.sub_domain }}.{{ item.domain }}
    ServerAdmin {{ server_admin }}
    
    ErrorLog ${APACHE_LOG_DIR}/{{ item.log_prefix }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.log_prefix }}-access.log combined

    RewriteEngine on
  	RewriteCond %{HTTPS} !=on
    RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [NE,R,L]
</VirtualHost>


<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerName {{ item.sub_domain }}.{{ domain }}
        ServerAdmin {{ server_admin }}

        ErrorLog ${APACHE_LOG_DIR}/{{ item.log_prefix }}-error.log
        CustomLog ${APACHE_LOG_DIR}/{{ item.log_prefix }}-access.log combined

        SSLEngine on
        SSLCertificateFile /etc/apache2/ssl/{{ item.sub_domain }}.{{ item.domain }}/fullchain.pem
        SSLCertificateKeyFile /etc/apache2/ssl/{{ item.sub_domain }}.{{ item.domain }}/privkey.pem

        # Rewrite all requests for / to /mythweb
        RewriteEngine On
        RewriteCond %{REQUEST_URI} ^/$
        RewriteRule (.*) /mythweb/ [R=302]

        # needed so mod_filter & mod_substitute below work
        Header set Accept-Ranges "none"
        RequestHeader unset Accept-Encoding

        # rewrite http://.... to just //...
        FilterDeclare replace
        FilterProvider replace SUBSTITUTE "%{CONTENT_TYPE} =~ m|^text/html|"
        FilterChain replace
        Substitute "s|http://|//|"

        <Location "/mythweb">
	        AuthName "MythWeb Login"
	        AuthType Basic
	        AuthBasicProvider ldap
	        LDAPReferrals Off
	        AuthLDAPUrl {{ ldap_url }} 
	        AuthLDAPBindDN {{ ldap_dn }} 
	        AuthLDAPBindPassword {{ ldap_password }} 
	        Require valid-user
        </Location>

        # Authentication not required for /mythweb/tv/opensearch URLs
        <LocationMatch "^/mythweb/tv/opensearch">
                Require all granted
        </LocationMatch>

        ProxyRequests Off
        ProxyPass /mythweb http://{{ item.target_host }}/mythweb/
        ProxyPassReverse /mythweb http://{{ item.target_host }}/mythweb/
    </VirtualHost>
</IfModule>
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet

