# TvHeadend
#   {{ ansible_managed }}  

<VirtualHost *:80>
    ServerName {{ item.sub_domain }}.{{ item.domain }}
    ServerAdmin {{ apache_server_admin }}
    
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    RewriteEngine on
  	RewriteCond %{HTTPS} !=on
    RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [NE,R,L]
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerName {{ item.sub_domain }}.{{ item.domain }}
        ServerAdmin {{ apache_server_admin }}

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        SSLEngine on
        SSLCertificateFile /etc/apache2/ssl/{{ item.sub_domain }}.{{ item.domain }}/fullchain.pem
        SSLCertificateKeyFile /etc/apache2/ssl/{{ item.sub_domain }}.{{ item.domain }}/privkey.pem

        <Location "/">
	        AuthName "TvHeadend 2FA"
	        AuthType Basic
	        AuthBasicProvider ldap
	        LDAPReferrals Off
	        AuthLDAPUrl {{ apache_ldap_url }} 
	        AuthLDAPBindDN {{ apache_ldap_dn }} 
	        AuthLDAPBindPassword {{ apache_ldap_password }} 
	        Require valid-user
        </Location>
        
        RequestHeader unset Authorization
        
        ProxyPass /comet/ws ws://{{ item.target_host }}:9981/comet/
        ProxyPassReverse /comet/ws ws://{{ item.target_host }}:9981/comet/ws
        ProxyPass / http://{{ item.target_host }}:9981/
        ProxyPassReverse / http://{{ item.target_host }}:9981/
        ProxyPreserveHost On

    </VirtualHost>
</IfModule>
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet

