##########
# Source #
##########

source s_tcp_utm {
 tcp(port({{ syslog_receive_port }}));
};

############
# Template #
############

# UTM logs include properly formatted header, dont want another one on top
template no_header {
 template ("${MSGHDR}${MSG}\n"); template_escape(no);
};

###############
# Destination #
###############

destination d_splunk_tcp {
 tcp(
	"{{ destination_ip }}" 
	port({{ destination_port }}) 
	template(no_header)
	disk-buffer(
                mem-buf-length(100000)
                disk-buf-size(2000000)
                reliable(no)
				)	
	);
};

destination d_file {
 file("{{ log_dir }}${YEAR}/${MONTH}/${DAY}/utm" 
       template(no_header)
	   create-dirs(yes)
	   );
};


##############
# Log Action #
##############

log {
 source(s_tcp_utm);
 destination(d_splunk_tcp);
 destination(d_file);
};

