###########
# Options #
###########

options {
        create_dirs(yes);
        owner(root);
        group(root);
        perm(0640);
        dir_owner(root);
        dir_group(root);
        dir_perm(0750);
};

##########
# Source #
##########

source s_udp_pfsense {
 udp( ip(0.0.0.0) port({{ syslog_pfsense_receive_port }}));
};

############
# Template #
############


###############
# Destination #
###############
destination d_file {
 file( "{{ syslog_log_dir }}/pfsense/${YEAR}/${MONTH}/pfsense-${YEAR}${MONTH}${DAY}.log" );
};


##############
# Log Action #
##############

log {
 source(s_udp_pfsense);
  destination(d_file);
};

