# {{ ansible_managed }}

###########
# Options #
###########

options {
        create_dirs(yes);
        owner(root);
        group(root);
        perm(0640);
        dir_owner(root);
        dir_group(root);
        dir_perm(0750);
};

##########
# Source #
##########

source s_udp_omada {
 network( 
         ip(0.0.0.0) 
         transport("udp")
         port({{ syslog_ng_omada_receive_port }})
         );
};

############
# Template #
############


###############
# Destination #
###############
destination d_file_omada {
 file( 
         "{{ syslog_ng_log_dest }}/omada/${YEAR}/${MONTH}/omada-${YEAR}${MONTH}${DAY}.log" 
     );
};


##############
# Log Action #
##############

log {
 source(s_udp_omada);
  destination(d_file_omada);
};

