# {{ ansible_managed }}

[Unit]
Description=AppDaemon
After=home-assistant@homeassistant.service

[Service]
Type=simple
User=%1
ExecStart={{ hass_install_dir }}/bin/appdaemon -c {{ hass_config_dir }}

[Install]
WantedBy=multi-user.target