# {{ ansible_managed }}

version: "3.6"
services:
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    restart: always
    command: -H unix:///var/run/docker.sock
    ports:
      - target: 9000
        published: 9000
        protocol: tcp
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/docker/storage/portainer/:/data
    environment:
      - TZ={{ docker_utility_timezone }}
    networks:
      - traefik_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.backend=portainer"
      - "traefik.frontend.rule=Host:portainer.{{ all_ext_domain }}"
      - "traefik.port=9000"
      - "traefik.docker.network=traefik_proxy"
      - "traefik.frontend.headers.SSLRedirect=true"
      - "traefik.frontend.headers.STSSeconds=315360000"
      - "traefik.frontend.headers.browserXSSFilter=true"
      - "traefik.frontend.headers.contentTypeNosniff=true"
      - "traefik.frontend.headers.forceSTSHeader=true"
      - "traefik.frontend.headers.STSIncludeSubdomains=true"
      - "traefik.frontend.headers.STSPreload=true"
      - "traefik.frontend.headers.frameDeny=true"  
  mail:
    container_name: mail
    restart: always
    image: juanluisbaptiste/postfix:latest
    environment:
      - SMTP_SERVER=smtp.gmail.com
      - SMTP-PORT=465
      - SMTP_USERNAME={{ docker_utility_mail_username }}
      - SMTP_PASSWORD={{ docker_utility_mail_password }}
      - SERVER_HOSTNAME={{ docker_utility_mail_hostname }}
      - SMTP_NETWORKS={{ docker_utility_mail_networks }}
    networks:
      - default
    ports:
    - "25:25"
    labels:
      - "traefik.enable=false"
  homer:
    container_name: homer
    restart: always
    image: b4bz/homer:latest
    user: root
    volumes:
      - /mnt/docker/storage/homer:/www/assets
    environment:
      - UID={{ docker_uid }}
      - GID={{ docker_gid }}
    networks:
      - traefik_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.backend=homer"
      - "traefik.frontend.rule=Host:start.{{ all_ext_domain }}"
      - "traefik.port=8080"
      - "traefik.docker.network=traefik_proxy"
      - "traefik.frontend.headers.SSLRedirect=true"
      - "traefik.frontend.headers.STSSeconds=315360000"
      - "traefik.frontend.headers.browserXSSFilter=true"
      - "traefik.frontend.headers.contentTypeNosniff=true"
      - "traefik.frontend.headers.forceSTSHeader=true"
      - "traefik.frontend.headers.STSIncludeSubdomains=true"
      - "traefik.frontend.headers.STSPreload=true"
      - "traefik.frontend.headers.frameDeny=true"
  unifi:
    hostname: unifi
    image: jacobalberty/unifi:stable
    restart: always
    container_name: "unifi"
    volumes:
      - /mnt/docker/storage/unifi:/unifi
    ports:
      - target: 3478
        published: 3478
        protocol: udp
        mode: host
      - target: 10001
        published: 10001
        protocol: udp
        mode: host
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
      - target: 8081
        published: 8081
        protocol: tcp
        mode: host
      - target: 8443
        published: 8443
        protocol: tcp
        mode: host
      - target: 8880
        published: 8880
        protocol: tcp
        mode: host
      - target: 6789
        published: 6789
        protocol: tcp
        mode: host
    networks:
      - traefik_proxy
    environment:
      - TZ={{ docker_utility_timezone }}
      - RUNAS_UID0=false
      - UNIFI_UID={{ docker_uid }}
      - UNIFI_GID={{ docker_gid }}
    labels:
      - "traefik.enable=true"
      - "traefik.tags=frontend"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.admin.backend=unifi"
      - "traefik.admin.frontend.rule=Host:unifi.{{ all_ext_domain }}"
      - "traefik.admin.port=8443"
      - "traefik.admin.protocol=https"
      - "traefik.frontend.headers.SSLRedirect=true"
      - "traefik.frontend.headers.STSSeconds=315360000"
      - "traefik.frontend.headers.browserXSSFilter=true"
      - "traefik.frontend.headers.contentTypeNosniff=true"
      - "traefik.frontend.headers.forceSTSHeader=true"
      - "traefik.frontend.headers.STSIncludeSubdomains=true"
      - "traefik.frontend.headers.STSPreload=true"
      - "traefik.frontend.headers.frameDeny=true"
  watchtower:
    container_name: watchtower
    hostname: watchtower
    restart: always
    image: v2tec/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --schedule "0 0 4 * * *" --cleanup
  duo_auth:
    container_name: duo_auth
    restart: always
    image: jumanjiman/duoauthproxy:latest
    volumes:
      - /mnt/docker/storage/duo:/opt/duoauthproxy/conf/
      - /mnt/docker/storage/logs/duo:/opt/duoauthproxy/log/
    ports:
      - 1812
      - 18120
    user: "{{ docker_uid }}"
    networks:
      - traefik_proxy
  bitwarden:
    hostname: bitwarden
    image: vaultwarden/server:latest
    container_name: bitwarden
    restart: always
    volumes:
      - /mnt/docker/storage/bitwarden:/data/
      - /mnt/docker/storage/logs/bitwarden:/log/
    environment:
      - uid={{ docker_uid }}
      - gid={{ docker_gid }}
      - WEBSOCKET_ENABLED=true
      - EXTENDED_LOGGING=false
      - LOG_FILE=/log/bitwarden.log
      - SIGNUPS_ALLOWED=false
      - ADMIN_TOKEN={{ docker_utility_bitwarden_admin_token }}
      - DOMAIN=https://vault.{{ all_ext_domain }}
      - DUO_IKEY={{ docker_utility_bitwarden_duo_ikey }}
      - DUO_SKEY={{ docker_utility_bitwarden_duo_skey }}
      - DUO_HOST={{ docker_utility_bitwarden_duo_api }}
      - DUO_ENABLED=true
    labels:
      - "traefik.enable=true"
      - "traefik.tags=frontend"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.admin.backend=bitwarden"
      - "traefik.admin.frontend.rule=Host:vault.{{ all_ext_domain }}"
      - "traefik.admin.port=80"
      - "traefik.admin.protocol=http"
      - traefik.hub.frontend.rule=Host:vault.{{ all_ext_domain }};Path:/notifications/hub
      - traefik.hub.port=3012
      - traefik.hub.protocol=ws
      - "traefik.frontend.headers.SSLRedirect=true"
      - "traefik.frontend.headers.STSSeconds=315360000"
      - "traefik.frontend.headers.browserXSSFilter=true"
      - "traefik.frontend.headers.contentTypeNosniff=true"
      - "traefik.frontend.headers.forceSTSHeader=true"
      - "traefik.frontend.headers.STSIncludeSubdomains=true"
      - "traefik.frontend.headers.STSPreload=true"
      - "traefik.frontend.headers.frameDeny=true"
  traefik:
    hostname: traefik
    image: traefik:v{{ docker_utility_traefik_ver }}
    container_name: traefik
    restart: always
    domainname: {{ all_ext_domain }}
    networks:
      - default
      - traefik_proxy
    ports:
      - "80:80"
      - "443:443"
      - "3012:3012"
    environment:
      - DOMAINNAME={{ all_ext_domain }}
      - GODADDY_API_KEY={{ docker_utility_godaddy_key }} 
      - GODADDY_API_SECRET={{ docker_utility_godaddy_secret }}
    labels:
      - "traefik.enable=true"
      - "traefik.backend=traefik"
      - "traefik.frontend.rule=Host:traefik.{{ all_ext_domain }}"
      - "traefik.port=8080"
      - "traefik.docker.network=traefik_proxy"
      - "traefik.frontend.headers.SSLRedirect=true"
      - "traefik.frontend.headers.STSSeconds=315360000"
      - "traefik.frontend.headers.browserXSSFilter=true"
      - "traefik.frontend.headers.contentTypeNosniff=true"
      - "traefik.frontend.headers.forceSTSHeader=true"
      - "traefik.frontend.headers.STSIncludeSubdomains=true"
      - "traefik.frontend.headers.STSPreload=true"
      - "traefik.frontend.headers.frameDeny=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/docker/storage/traefik:/etc/traefik
      - /mnt/docker/storage/logs/traefik:/logs/
networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  default:
    driver: bridge
