#!/bin/bash

# script to run as post processing command in tvHeadend, will delete corresponding edl file


edl_ext="{{recording_extension}}"
path=${1::-{{ recording_extension|length }}}
edl="$path$edl_ext"
rm "$edl"
