external_url 'https://{{ gitlab_external_domain }}'
nginx['redirect_http_to_https'] = true
registry_external_url 'https://{{ gitlab_external_domain }}:{{ gitlab_registry_port }}'
registry_nginx['ssl_certificate'] = "/etc/gitlab/ssl/{{ gitlab_external_domain }}.crt"
registry_nginx['ssl_certificate_key'] = "/etc/gitlab/ssl/{{ gitlab_external_domain }}.key"

# backup
gitlab_rails['backup_upload_connection'] = {
  :provider => 'Local',
  :local_root => '/mnt/backup'
}
gitlab_rails['backup_upload_remote_directory'] = '.'
gitlab_rails['backup_keep_time'] = 604800

# ldap auth
gitlab_rails['ldap_enabled'] = true
 gitlab_rails['ldap_servers'] = YAML.load <<-'EOS'
   main:
     label: 'Active Directory'
     host: '{{ gitlab_ldap_host }}'
     port: 389
     uid: 'sAMAccountName'
     bind_dn: '{{ gitlab_ldap_bind_dn }}'
     password: '{{ gitlab_ldap_bind_password }}'
     encryption: 'start_tls' 
     verify_certificates: false
     active_directory: true
     allow_username_or_email_login: false
     lowercase_usernames: false
     block_auto_created_users: false
     base: '{{ gitlab_ldap_user_base }}'
     user_filter: '(&(objectclass=person)(memberof=CN={{ gitlab_ldap_user_filter_group }},{{ gitlab_ldap_user_base }}))'
 EOS

# outbound email 
gitlab_rails['smtp_enable'] = true
gitlab_rails['smtp_address'] = "smtp.gmail.com"
gitlab_rails['smtp_port'] = 587
gitlab_rails['smtp_user_name'] = "{{ gitlab_smtp_username }}"
gitlab_rails['smtp_password'] = "{ gitlab_smtp_password }}"
gitlab_rails['smtp_domain'] = "smtp.gmail.com"
gitlab_rails['smtp_authentication'] = "login"
gitlab_rails['smtp_enable_starttls_auto'] = true
gitlab_rails['smtp_tls'] = false
gitlab_rails['smtp_openssl_verify_mode'] = 'peer'

# prevent brute forcing
gitlab_rails['rack_attack_git_basic_auth'] = {
  'enabled' => true,
  'ip_whitelist' => ["127.0.0.1"],
  'maxretry' => 10,
  'findtime' => 60,
  'bantime' => 3600
}
