# {{ ansible_managed }}

version: "3.6"
services:
  jellyfin:
    container_name: jellyfin
    restart: always
    image:  linuxserver/jellyfin
    volumes:
      - {{ docker_media_jf_conf }}:/config
      - {{ docker_media_music_dest }}:/mnt/music
      - {{ docker_media_movies_dest }}:/mnt/movies
      - {{ docker_media_tv_dest }}:/mnt/tv
      - {{ docker_media_dvr_dest }}:/mnt/dvr
      - {{ docker_cache_partition }}/jellyfin:/cache
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ all_system_timezone }}
    network_mode: host
networks:
  default:
    driver: bridge
