#!/bin/bash

# backup script for {{ backup_path }}

/usr/sbin/service emby-server stop

src="/var/lib/emby-server/cache /var/lib/emby-server/config /var/lib/emby-server/data /var/lib/emby-server/ffmpeg /var/lib/emby-server/localization /var/lib/emby-server/logs /var/lib/emby-server/plugins /var/lib/emby-server/root /var/lib/emby-server/ssl"
dest="/mnt/backup_{{ backup_path }}"
day=$(date +%Y%m%d)

/bin/mkdir "$dest/$day"

/bin/tar -czf "$dest/$day/{{ backup_path }}-$day.tar.gz" $src

/usr/sbin/service emby-server start